.my-profile-details-table {
    display: flex;
    flex-direction: row;

    &--cell {
        align-items: flex-start;
        border-right: 1px solid var(--general-section-2);
        display: flex;
        flex-direction: column;
        padding-right: 2.4rem;
        white-space: nowrap;
        height: 4rem;
        margin-top: 1rem;

        @include mobile {
            border-right: unset;
            margin-top: 0.8rem;
        }

        &:nth-child(2) {
            border-right: unset;
            padding-left: 2.4rem;

            @include mobile {
                padding-left: unset;
            }
        }
    }

    &--row {
        display: flex;
        flex-direction: row;
        width: 29.2rem;
        border: none;

        @include mobile {
            flex-direction: column;
            width: unset;
        }
    }

    &-mobile {
        border-right: 1px solid var(--general-section-2);
        margin-right: 1.6rem;
        min-width: 52%;

        &:nth-child(2) {
            border-right: unset;
        }
    }
}
