.my-profile-name {
    align-items: center;
    display: flex;
    margin-bottom: 2.4rem;
    width: 100%;

    @include mobile {
        align-items: flex-start;
        margin: 0 0 2.4rem;
    }

    &__avatar {
        margin-right: 0.8rem;

        @include mobile {
            margin-right: 1.6rem;
        }
    }

    &--column {
        display: flex;
        flex-direction: column;
    }

    &__name {
        width: 90%;
        @include mobile {
            width: unset;
        }
    }

    &--privacy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &--row {
        display: flex;
        flex-direction: row;
    }
}
