.my-profile-details-container {
    border: 1px solid var(--general-hover);
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    padding: 2.4rem;

    @include mobile {
        border: unset;
        margin-bottom: 2.4rem;
        margin-top: 1.6rem;
        padding: 0 1.6rem;
    }

    &--table {
        display: flex;
        justify-content: space-between;

        @include mobile {
            display: unset;
        }
    }
}
