.my-profile-balance {
    @include mobile {
        margin-bottom: 1.6rem;
    }

    &__amount {
        margin-right: 0.8rem;
    }

    &--column {
        flex-direction: column;
    }

    &--icon {
        margin-left: 0.4rem;
    }

    &--row {
        display: flex;
        flex-direction: row;
    }
}
