.orders {
    flex: 1;
    display: flex;
    flex-direction: column;

    & .initial-loader {
        @include mobile {
            height: 80%;
        }
    }
    & .p2p-empty {
        @include mobile {
            padding: 4rem 1.6rem;
            margin: 0rem;
        }

        &__button {
            @include mobile {
                width: 100%;
                padding: 1rem;
            }
        }
    }

    &-tab {
        @include mobile {
            height: 7.7rem;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-bottom: 1px solid var(--general-section-1);
        }
        &__header {
            width: fit-content;
            border-radius: 4px;

            &-filter {
                .dc-button-menu__wrapper {
                    button.dc-btn {
                        height: 3.6rem;
                        min-width: 12rem !important;
                        white-space: nowrap;
                        padding: 0.8rem 1.8rem;
                    }
                }
            }
            @include mobile {
                align-self: center;
            }
        }
    }
    &__button {
        margin: 0 1.6rem;
    }
    &__dialog {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: var(--shadow-menu);

        & .dc-dialog__dialog {
            height: auto;
            max-width: 440px;
            min-height: 0;
            min-width: 44rem;
            padding: 0;
            width: auto;
        }
        & .dc-dialog__content {
            margin-bottom: 0;
            max-width: 100%;
            width: 100%;
        }
    }
    &__separator {
        border-bottom: 1px solid var(--general-section-1);
        width: 100%;
    }
    &__mobile {
        border-bottom: 1px solid var(--general-section-1);
        display: grid;
        grid-template-areas: ('header header-right' 'title title');
        padding: 1.6rem;

        &--attention {
            background: var(--button-tertiary-hover);
            border-bottom: 2px solid var(--general-section-1);
        }

        &-highlight-danger {
            background-color: #fff8f8;
        }
        & .dc-table__row {
            border-bottom: unset;
        }

        &-separator {
            border-top: 1px solid var(--general-section-1);
            height: 1px;
            left: 0rem;
            margin: 1.6rem 0rem;
            position: absolute;
            width: 100vw;
        }
        &-header {
            align-items: center;
            display: flex;
            grid-area: header;
            height: 2.4rem;
            justify-content: space-between;

            &-right {
                display: flex;
                grid-area: header-right;
                justify-self: end;
            }
        }
        &-title {
            align-items: start;
            display: flex;
            flex-direction: column;
            grid-area: title;
            height: 4.9rem;
            justify-content: space-around;
            justify-self: start;
            margin-top: 0.4rem;
        }

        &-chat {
            align-self: center;
            display: flex;
            margin-left: 0.9rem;
        }
        &-time {
            border: solid 1px var(--border-normal);
            border-radius: 1.6rem;
            height: 2.4rem;
            letter-spacing: 1px;
            width: 7.8rem;
        }
        &-status {
            border-radius: 1.6rem;
            font-size: var(--text-size-xs);
            font-weight: bold;
            padding: 0.2rem 1.6rem;
            text-align: center;
            width: auto;
        }
    }
    &__table {
        display: flex;
        flex: 1;
        flex-direction: column;

        &-body {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &-row {
            padding: 2.4rem;
            cursor: pointer;

            &--attention {
                background: var(--button-tertiary-hover);
            }
            &:not(.orders__table-row--header) {
                cursor: pointer;

                &:hover {
                    background: var(--general-hover);
                }
            }
        }
        &-time {
            border: solid 1px var(--border-normal);
            border-radius: 16px;
            font-size: var(--text-size-xxs);
            height: 24px;
            letter-spacing: 1px;
            padding: 2px;
            text-align: center;
            width: 78px;
        }
        &-grid {
            // Sizes are different for inactive due to timeout being full time string.
            grid-template-columns: 1.5fr 1.5fr 2fr 2.5fr 1.5fr 1.5fr 2fr;

            &--active {
                grid-template-columns: 1.5fr 1.5fr 2fr 2.5fr 1.5fr 1.5fr 1.5fr;
            }
        }
        &-status {
            border-radius: 16px;
            font-weight: bold;
            padding: 0.2rem 1.6rem;
            white-space: nowrap;

            &--danger {
                color: var(--brand-red-coral);
                background-color: rgba(236, 63, 63, 0.16);
            }
            &--alert {
                color: var(--status-warning);
                background-color: rgba(255, 173, 58, 0.16);
            }
            &--success {
                color: var(--text-profit-success);
                background-color: rgba(75, 180, 179, 0.16);
            }
            &--disabled {
                color: var(--text-less-prominent);
                background-color: rgba(153, 153, 153, 0.16);
            }
            &--info {
                color: var(--status-info);
                background-color: rgba(28, 90, 227, 0.16);
            }
        }

        .dc-table__header {
            > .orders__table-grid {
                padding: 0 2.4rem;
            }
        }
    }

    &__data-list {
        flex: 1;

        &__data-list-body {
            flex: 1;
        }

        .data-list__body-wrapper {
            flex: 1;
        }
    }
}
